<h2 mat-dialog-title>{{ record.timestamp | date: 'yyyy-MM-dd' }} {{entry}} of {{source}}</h2>
<mat-dialog-content class="py-4!">
    <div class="grid grid-cols-4">
        <span class="text-lg font-medium">Name</span>
        <span class="text-lg font-medium">Category</span>
        <span class="text-lg font-medium">Quantity</span>
        <span class="text-lg font-medium">Total Value</span>
        @if (record.silver && record.silver > 0) {
        <span>Silver</span>
        <span>Currency</span>
        <span>{{record.silver}}</span>
        <span>{{record.silver}}</span>
        }
        @for (item of record.items; track item.name) {
        <span>{{item.name}}</span>
        <span>{{item.category}}</span>
        <span>{{item.quantity}}</span>
        <span>{{item.value*item.quantity}}</span>
        }
    </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
    <div class="flex gap-10">
        <button matButton="filled" class="w-48" (click)="copy()">Copy to Clipboard</button>
        <button matButton="tonal" class="w-48" mat-dialog-close>Close</button>
    </div>
</mat-dialog-actions>