<record-summary [data]="records()"></record-summary>
<table mat-table matSort [dataSource]="dataSource">
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
        <td mat-cell *matCellDef="let record">{{record.timestamp | date:'yyyy-MM-dd hh:mm a' }}</td>
    </ng-container>
    <ng-container matColumnDef="entry">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Entry</th>
        <td mat-cell *matCellDef="let record">{{record.entry.charAt(0).toUpperCase() + record.entry.slice(1)}}</td>
    </ng-container>
    <ng-container matColumnDef="source">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Source</th>
        <td mat-cell *matCellDef="let record">{{record.source.charAt(0).toUpperCase() + record.source.slice(1)}}</td>
    </ng-container>
    <ng-container matColumnDef="items">
        <th mat-header-cell *matHeaderCellDef>Items</th>
        <td mat-cell *matCellDef="let record">{{record.items.length}} items</td>
    </ng-container>
    <ng-container matColumnDef="totalValue">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Value</th>
        <td mat-cell *matCellDef="let record" class="text-right">{{record.totalValue}}</td>
    </ng-container>
    <ng-container matColumnDef="notes">
        <th mat-header-cell *matHeaderCellDef>Notes</th>
        <td mat-cell *matCellDef="let record">{{record.notes}}</td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let record">
            <button matIconButton matTooltip="View details" (click)="viewRecord(record)"><mat-icon>visibility</mat-icon></button>
            <button matIconButton matTooltip="Delete record" (click)="deleteRecord(record)"><mat-icon>delete</mat-icon></button>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let record; columns: columnsToDisplay"></tr>
</table>
<mat-paginator [pageSize]="50" [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons>
</mat-paginator>