<div class="flex flex-1 flex-row gap-10 items-center justify-center">
    <mat-card class="p-4 w-sm">
        <mat-card-header class="text-2xl">Materials</mat-card-header>
        <mat-card-content class="py-8!">
            <span>Logs for depositing or withdrawing materials and silver.</span>
        </mat-card-content>
        <mat-card-actions class="gap-4 items-center justify-center">
            <a matButton="filled" routerLink="/deposit/new">Deposit</a>
            <a matButton="filled" routerLink="/withdraw/new">Withdraw</a>
        </mat-card-actions>
    </mat-card>
    <mat-card class="p-4 w-sm">
        <mat-card-header class="text-2xl">Crafted Items</mat-card-header>
        <mat-card-content class="py-8!">Logs for all manner of crafting materials, calculating their price accordingly.</mat-card-content>
        <mat-card-actions class="gap-4 items-center justify-center">
            <a matButton="filled" routerLink="/crafting/deposit">Deposit</a>
            <a matButton="filled" routerLink="/crafting/withdraw">Withdraw</a>
        </mat-card-actions>
    </mat-card>
</div>