<div class="flex flex-1 flex-row gap-4">
    <mat-tree #tree [dataSource]="treeData()" [childrenAccessor]="childrenAccessor" class="min-w-48 h-[75vh] overflow-auto">
        <mat-nested-tree-node *matTreeNodeDef="let node">
            <button (click)="select(node)" [class.active]="isSelected(node)" class="text-sm flex items-center gap-2 cursor-pointer hover:bg-(--mat-sys-secondary-container) transition-colors duration-200 rounded-lg w-full px-10 my-1">
                <mat-icon>table_rows</mat-icon>
                {{node.name}}
            </button>
        </mat-nested-tree-node>
        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild" [cdkTreeNodeTypeaheadLabel]="node.name">
            <div class="flex gap-2">
                <button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name" class="text-sm inline-flex hover:cursor-pointer hover:bg-(--mat-sys-secondary-container) transition-colors duration-200 rounded-lg w-full items-center gap-2 px-2">
                    <mat-icon>{{ tree.isExpanded(node) ? 'folder_open' : 'folder' }}</mat-icon>
                    {{ node.name }}
                </button>
            </div>
            <div class="ml-6 overflow-hidden transition-all duration-100 ease-linear" [class.overflow-hidden]="!tree.isExpanded(node)" [class.max-h-0]="!tree.isExpanded(node)" [class.max-h-96!]="tree.isExpanded(node)" role="group">
                <ng-container matTreeNodeOutlet></ng-container>
            </div>
        </mat-nested-tree-node>
    </mat-tree>
    <mat-divider [vertical]="true"></mat-divider>
    <form [formGroup]="form" class="flex flex-1 flex-col items-center">
        <div formArrayName="items">
            <div class="flex flex-row gap-10 items-center justify-center mb-10 text-2xl">
                <h2>Category: {{this.selected().at(-1)}}</h2>
                <button type="button" matTooltip="Add new item" matIconButton (click)="addItem()"><mat-icon>add</mat-icon></button>
            </div>
            @for (group of items.controls; track group; let index = $index) {
                <div [formGroupName]="$index" class="flex flex-row items-center justify-center gap-10">
                    <mat-form-field>
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Price</mat-label>
                        <input matInput type="number" formControlName="price">
                    </mat-form-field>
                    @if (group.get('labor')) {
                    <mat-form-field>
                        <mat-label>Labor</mat-label>
                        <input matInput type="number" formControlName="labor">
                    </mat-form-field>
                    }
                    <button type="button" matTooltip="Delete item" matIconButton (click)="removeItem(index)" class="mb-5"><mat-icon>delete</mat-icon></button>
                </div>
            }
        </div>
    </form>
</div>
<div class="my-10 grid grid-cols-4 gap-20 justify-self-center">
        <button matButton="filled">Save and Export</button>
        <button matButton="tonal" (click)="save()">Save</button>
        <button matButton="tonal" (click)="discard()">Discard changes</button>
        <button matButton="tonal" routerLink="">Back</button>
</div>