<div class="flex flex-col flex-1 items-center justify-center gap-20">
    <h1 class="text-3xl">High Hold Storehouse</h1>
    <mat-card class="p-4 w-sm">
        <mat-card-header class="text-2xl pb-4!">Logs</mat-card-header>
        <mat-card-content class="py-8!">Generate logs for the Storehouse. It's the only functionality for now, anyway.</mat-card-content>
        <mat-card-actions class="justify-center!">
            <a matButton="filled" routerLink="/new">Log Generation</a>
        </mat-card-actions>
    </mat-card>
    <app-updater />
</div>