<h2 mat-dialog-title>Set up your Storehouse</h2>
<form [formGroup]="form" class="contents" (submit)="$event.preventDefault()">
    <mat-dialog-content>
        <div class="settings-fields">
            <label class="settings-field">
                <span>Clan name</span>
                <input type="text" formControlName="clan" autocomplete="organization" />
            </label>
            <label class="settings-field">
                <span>Character name</span>
                <input type="text" formControlName="character" autocomplete="off" />
            </label>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button type="submit" matButton="filled" class="w-24" [mat-dialog-close]="form">Confirm</button>
        <button type="button" matButton="tonal" class="w-24" [mat-dialog-close]>Cancel</button>
    </mat-dialog-actions>
</form>