@switch(renderState()) {
    @case ('request') {
    <div class="self-center flex flex-row gap-8 p-6 mt-10 border border-(--mat-sys-primary) bg-(--mat-sys-primary-container)/10 text-(--mat-sys-on-primary-container) rounded-md items-center">
        <mat-icon>notifications_active</mat-icon>
        <span>A new version ({{version()}}) was found.</span>
        <button matButton="filled" (click)="startUpdate()">Update</button>
        <button matButton="tonal" (click)="dismissUpdate()">Dismiss</button>
    </div>
    }
    @case ('progress') {
    <div class="self-center flex flex-row gap-8 p-6 mt-10 border border-(--mat-sys-primary) bg-(--mat-sys-primary-container)/10 text-(--mat-sys-on-primary-container) rounded-md items-center">
        <mat-spinner diameter="24"></mat-spinner>
        <span>{{renderMessage()}}</span>
    </div>
    }
    @case ('error') {
    <div class="self-center flex flex-row gap-8 p-6 mt-10 border border-red-500 bg-red-800/10 text-red-500 rounded-md items-center">
        <mat-icon>cancel</mat-icon>
        <span>{{renderMessage()}}</span>
        <button matButton="tonal" (click)="dismissUpdate()">Dismiss</button>
    </div>
    }
}