<section class="flex flex-1 flex-col self-center items-center justify-center">
        <h2 class="text-3xl text-center pb-10">Material {{title()}} Form</h2>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <h3 class="text-xl text-center pb-4">General Information</h3>
        <div class="flex flex-row gap-4 items-center justify-center">
            <mat-form-field class="w-sm">
                <mat-label>Silver</mat-label>
                <input matInput type="number" formControlName="silver" aria-label="silver">
            </mat-form-field>
        @if (isDeposit()) {
            <mat-form-field class="w-sm">
                <mat-label>Purpose</mat-label>
                <input matInput type="text" formControlName="purpose" aria-label="purpose">
            </mat-form-field>
        } @else {
            <mat-form-field class="w-sm">
                <mat-label>Usage</mat-label>
                <mat-select formControlName="usage">
                    <mat-option value="Personal Use">Personal Use</mat-option>
                    <mat-option value="Clan">Clan</mat-option>
                    <mat-option value="Profit">Profit</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="w-sm">
                <mat-label>Ownership</mat-label>
                <mat-hint>Who is this withdrawal for?</mat-hint>
                <input matInput type="text" formControlName="ownership" aria-label="ownership">
            </mat-form-field>
        }
        </div>
        <div formArrayName="items" class="pb-4">
            <div class="grid grid-cols-[1fr_auto_1fr] items-center pb-4">
                <div></div>
                <h3 class="text-xl justify-self-center px-4">Items</h3>
                <div class="justify-self-start flex items-center gap-20">
                <button matIconButton (click)="addNewItem()"><mat-icon>add</mat-icon></button>
                <input type="text" id="search" placeholder="Search an item" [formControl]="searchControl" [matAutocomplete]="auto" aria-label="Search item" class="py-2 justify-self-start rounded-full px-4 outline focus:outline-(--mat-sys-primary) focus:outline-2" />
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayItem" (optionSelected)="onQuickAdd($event.option.value)" >
                    @for (searchable of filteredItems(); track searchable.item.name) {
                         <mat-option [value]="searchable">{{searchable.item.name}}</mat-option>
                    }
                </mat-autocomplete>
                </div>
            </div>
            @for (row of itemRows.controls; track row.value.id) {
                <div class="flex flex-row gap-4 items-center justify-center" [formGroupName]="$index">
                    <mat-form-field>
                        <mat-label>Category</mat-label>
                        <mat-select formControlName="category">
                            @for (category of categories; track category) {
                                <mat-option [value]="category">
                                    {{ category }}
                                </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Item</mat-label>
                        <mat-select formControlName="item">
                            @for (item of getItemsFromRow($index); track item.name) {
                                <mat-option [value]="item">
                                    {{ item.name }}
                                </mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Quantity</mat-label>
                        <input matInput type="number" formControlName="quantity" aria-label="number">
                    </mat-form-field>
                    <button type="button" matIconButton (click)="removeItem($index)"><mat-icon>delete</mat-icon></button>
                </div>
            }
        </div>
        <div class="flex items-center justify-center gap-6">
            <button matButton="filled" class="w-44">Generate</button>
            <button type="button" matButton="filled" class="w-44" routerLink="/new">Back</button>
        </div>
    </form>
</section>